@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 4, 48, 40;
  --background-end-rgb: 255, 255, 255;
  --tw-gradient-stops:var(--background-start-rgb),var(var(--background-end-rgb))
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb:0,0,0;
    --background-end-rgb: 4, 48, 40;
    --tw-gradient-stops:var(--background-start-rgb),var(var(--background-end-rgb))
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.header{
  @apply flex flex-row h-16 bg-white; 
}
.navbar{
  @apply flex flex-row justify-between items-center

}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
